<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body class='center'>
    <form action="/api/products" enctype="multipart/form-data" method="POST" class='center'>
        <h1>Carga un producto nuevo</h1>
        <div class='input-group center'>
            <label>Name</label>
            <input name="name" type="text" placeholder="name" autofocus>
        </div>

        <div class='input-group center'>
            <label>Price</label>
            <input name="price" type="text" placeholder="price">
        </div>

        <div class='input-group center'>
            <label>Thumbnail</label>
            <input name="thumbnail" type="file">
        </div>

        <button type="submit">crear</button>
    </form>
</body>
</html>