<link rel="stylesheet" href="/index.css">
<link rel="stylesheet" href="/products.css">
div#products.container
    div.products
        if products.length > 0
            each product in products
                    div.products_item
                        img.products_item_image(src='http://localhost:8080/' + product.thumbnail)
                        div.products_item_info
                            p=product.name
                            p=product.price
        else
            div.no-products
                strong No hay productos/strong
                a(href="/") Agrega uno aquí