:root{
    --color-info: #448aff;
    --color-info-hover: #0077cc;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f9ff;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

a{
    color:var(--color-info);
    text-decoration: none;
    transition:.3s;
}

a:hover{
    color: var(--color-info-hover);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #fff;
    width: 40rem;
    max-width: 90%;
    padding: 3rem 1rem;
    border-radius: .5rem;
    flex-direction: column;
    transition: .3s;
    animation: form 1s ease-in-out;
}

@keyframes form{
    from { opacity: 0 }
    to { opacity: 1 }
}

form:hover{
    box-shadow: 0 0 32px 40px rgba(10,22,70,.02);
}

.input-group{
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-group:first-of-type{
    margin-top: 2rem;
}

.input-group:last-of-type{
    margin-bottom: 2rem;
}

label{
    font-size: .75rem;
    margin:0 0 .25rem .5rem;
}

input{
    padding: .75rem 1rem;
    width: 20rem;
    max-width: calc(100% - 2rem);
    outline: none;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: .5rem;
    transition: .3s;
}

::-webkit-file-upload-button{
    display: none;
}

input:focus{
    border: 1px solid #448AFF;
}

button[type=submit]{
    border: none;
    outline: none;
    padding:.75rem 1rem;
    cursor: pointer;
    background-color: #448AFF;
    color: white;
    opacity: .8;
    transition: .3s;
    border-radius: .5rem;
    width: 10rem;
}

button[type=submit]:hover{
    opacity: 1;
}